<h3>
    Physics A
</h3>

<ul>
    <li>
        The 'official' curriculum will continue with Electromagnetic Waves.
        At the moment, all assignments are optional enrichment activities.
    </li>
    <li>
        If students want to retake past quizzes, I am planning to make this option
        available beginning on Monday 3-30-2020.
    </li>
</ul>

<h4>
    Units:
</h4>

<ul>
    {{printUnitLink 'waves' 'the_electromagnetic_spectrum_quantitative' gradeMap}}
    {{printUnitLink 'waves' 'the_electromagnetic_spectrum_conceptual' gradeMap}}
    {{printUnitLink 'mechanics' 'quantitative_dynamics' gradeMap}}
    {{printUnitLink 'mechanics' 'conservation_of_energy_quantitative' gradeMap}}
    {{printUnitLink 'mechanics' 'collisions_and_explosions' gradeMap}}
</ul>