<h3>
    Physics A
</h3>

<ul>
    <li>
        All quizzes are available to take,
        see above for directions.
    </li>
    <li>
        The 'official' curriculum will continue with Electromagnetic Waves
        next week when quarter 4 begins.
    </li>
</ul>

<h4>
    Coming Very Soon: Extra Credit Assignment
</h4>

<h4>
    Units:
</h4>

<ul>
    {{printUnitLink 'waves' 'the_electromagnetic_spectrum_quantitative' gradeMap}}
    {{printUnitLink 'waves' 'the_electromagnetic_spectrum_conceptual' gradeMap}}
    {{printUnitLink 'mechanics' 'quantitative_dynamics' gradeMap}}
    {{printUnitLink 'mechanics' 'conservation_of_energy_quantitative' gradeMap}}
    {{printUnitLink 'mechanics' 'collisions_and_explosions' gradeMap}}
</ul>