


<!--{{displayDueDatesNew 'AP' 2021 gradeMap}}-->

<h3>
    AP Quiz 1
</h3>
<h4>
    Dates
</h4>
<ul>
    <li>
        Section A: Wednesday September 21
    </li>
    <li>
        Section B: Tuesday September 20
    </li>
</ul>

<h4>
    Content
</h4>
<ul>
    {{{podLink '6949c4' gradeMap undefined}}} <!-- memorize kine eq-->
    {{{podLink 'e9cb0a' gradeMap undefined}}} <!-- kineq 3-->
    {{{podLink 'a6330e' gradeMap undefined}}} <!-- quant graphs 3-->
    {{{podLink '4e97c3' gradeMap undefined}}} <!-- story to graph 1-->
    {{{podLink 'ba74c4' gradeMap undefined}}} <!-- position graph connection-->
    {{{podLink '1287eb' gradeMap undefined}}} <!-- velocity graph connection 2-->
    {{{podLink '5612bd' gradeMap undefined}}} <!-- acceleration graph connection-->
    {{{podLink '720665' gradeMap undefined}}} <!-- our cosmic address -->
</ul>

<h3>
    AP Quiz 2
</h3>
<ul>
    <li>
        Will be on the week of September 26
    </li>
    <li>
        Quiz content is still being determined
    </li>
</ul>

<ul>
    {{{podLink '6949c4' gradeMap undefined}}} <!-- memorize kine eq-->
    {{{podLink 'bb3229' gradeMap undefined}}} <!-- kineq 5-->
    {{{podLink 'cbf3cb' gradeMap undefined}}} <!-- elevators 1-->
    {{{podLink '169d20' gradeMap undefined}}} <!-- block dragging 2--> (section 1 only)
    <li>
        <a href = https://www.wcvb.com/article/beavers-wander-into-their-local-cumbys/25352430>
            Really important link.
        </a>
    </li>
</ul>



<h3>
    Summer Work 2022
</h3>


<h4>
    Guidelines
</h4>
<ul>
    <li>
        I will not collect any paperwork from over the summer.
        Instead, I provided a list of content with which you should
        be familiar at the beginning of the year.
    </li>
    <li>
        You can expect a quiz on this content in the second
        or third week of the year.
    </li>
    <li>
        Much of the content you may already be familiar with from previous
        math and science courses.
        Other content will be new.
        Feel free to spend as much time as you feel is necessary on each piece of content.
    </li>
    <li>
        I was not able to make videos for the content, so we will go over it very quickly in class instead.
    </li>
</ul>

<h4>
    Content you are expected to study on your own:
</h4>

<ul>
    <li>
        <a href = "/pod/71bc06">Numeric Algebra 1</a>
    </li>
    <li>
        <a href = "/pod/bd4cf2">Numeric Algebra 2</a>
    </li>
    <li>
        <a href = "/pod/543254">Symbolic Algebra</a>
    </li>
    <li>
        <a href = "/pod/54c21b">Trigonometry 1: The Pythagorean Theorem</a>
    </li>
    <li>
        <a href = "/pod/3c023e">Pi</a>
    </li>
    <li>
        <a href = "/pod/d6137d">Circle Math 1</a>
    </li>
    <li>
        <a href = "/pod/9ab51d">Trigonometry 2: Trigonometric Functions</a>
    </li>
    <li>
        <a href = "/pod/cc841e">Trigonometry 3: Inverse Trigonometric Functions</a>
    </li>
    <li>
        <a href = "/pod/a5b606">Trigonometry 4: Solving Complete Triangles</a>
    </li>
    <li>
        <a href = "/pod/d7d911">Powers of 10</a>
    </li>
    <li>
        <a href = "/pod/86f07c">Scientific Notation 1</a>
    </li>
    <li>
        <a href = "/pod/f7055b">Scientific Notation 2</a>
    </li>
    <li>
        <a href = "/pod/f6715d">Scientific Notation 3</a>
    </li>
    <li>
        <a href = "/pod/263ad0">Very Fast Conversions</a>
    </li>
    <li>
        <a href = "/pod/72607f">Memorizing The Metric Prefixes</a>
    </li>
    <li>
        <a href = "/pod/d32054">Scientific Notation on a Calculator</a>
    </li>
    <li>
        <a href = "/pod/64f606">Scientific Notation 4</a>
    </li>
    <li>
        <a href = "/pod/7d1b7e">Scientific Notation 5</a>
    </li>
    <li>
        <a href = "/pod/92fa82">Qualitative vs. Quantitative Reasoning</a>
    </li>
    <li>
        <a href = "/pod/81cace">Identifying Variables in an Experiment</a>
    </li>
    <li>
        <a href = "/pod/c59587">Significant Figures 1</a>
    </li>
    <li>
        <a href = "/pod/4563a8">Significant Figures 2</a>
    </li>
    <li>
        <a href = "/pod/2b2b55">Significant Figures 3</a>
    </li>
    <li>
        <a href = "/pod/8d7e19">Position Graphs and Motion Maps</a>
    </li>
    <li>
        <a href = "/pod/bc4f99">Kinematic Graph Connections</a>
    </li>
    <li>
        <a href = "/pod/cc7830">The Speed Formula</a>
    </li>
    <li>
        <a href = "/pod/a08be5">The Acceleration Formula</a>
    </li>
    <li>
        <a href = "/pod/a3b36d">Kinematic Equations 1</a>
    </li>
    <li>
        <a href = "/pod/c64e40">Quantitative Kinematic Graphs 1</a>
    </li>
    <li>
        <a href = "/pod/eda5ba">Kinematic Equations 2</a>
    </li>
    <li>
        <a href = "/pod/1a4b0b">Free-Body Diagrams</a>
    </li>
    <li>
        <a href = "/pod/193942">Finding Net Force</a>
    </li>
    <li>
        <a href = "/pod/8778d7">Newton's Second Law</a>
    </li>
    <li>
        <a href = "/pod/a131a7">Finding Acceleration</a>
    </li>
</ul>

<h4>
    Content that we will study in class
</h4>

<ul>
    <li>
        <a href = "/pod/4e97c3">Story to Graph Selection</a>
    </li>
    <li>
        More will be added
    </li>
</ul>


<script>
    const AP_goalsObject = JSON.parse('{{{getGoalsObject "AP" gradeMap}}}');

    function writeAPGoalsByDueDate() {
        let list = listGoalsByDueDate(AP_goalsObject);
        $("#AP_goals").empty();
        $("#AP_goals").append(list);

        $("#AP_goals_dueDate").removeClass('btn-secondary');
        $("#AP_goals_dueDate").addClass('btn-primary');

        $("#AP_goals_topic").removeClass('btn-primary');
        $("#AP_goals_topic").addClass('btn-secondary');
    }

    function writeAPGoalsByTopic() {
        let list = listGoalsByTopic(AP_goalsObject);
        $("#AP_goals").empty();
        $("#AP_goals").append(list);

        $("#AP_goals_topic").removeClass('btn-secondary');
        $("#AP_goals_topic").addClass('btn-primary');

        $("#AP_goals_dueDate").removeClass('btn-primary');
        $("#AP_goals_dueDate").addClass('btn-secondary');

    }

    writeAPGoalsByDueDate();
    $("#AP_goals_dueDate").on("click",writeAPGoalsByDueDate);
    $("#AP_goals_topic").on("click",writeAPGoalsByTopic);
</script>


<!--
101 => level 3
203 => level 3
204 => level 3
301 => level 4
302 => level 4
401 => level 4
402 => level 4
403 => level 4
601 => level 4
602 => level 3
901 => level 3
1003 => level 3
-->

