


<!--{{displayDueDatesNew 'AP' 2021 gradeMap}}-->

<h3>
    AP Quiz 2
</h3>
<ul>
    <li>
        October 11th and 12th
    </li>
</ul>

<ul>
    {{{podLink '6949c4' gradeMap undefined}}} <!-- memorize kine eq-->
    {{{podLink 'bb3229' gradeMap undefined}}} <!-- kineq 5-->
    {{{podLink 'cbf3cb' gradeMap undefined}}} <!-- elevators 1-->
    {{{podLink '169d20' gradeMap undefined}}} <!-- block dragging 2-->
    {{{podLink '4e9b25' gradeMap undefined}}} <!-- reaction force to weight-->
    {{{podLink '78d2e6' gradeMap undefined}}} <!-- identify action-reaction pairs-->
    {{{podLink 'f9807b' gradeMap undefined}}} <!-- block dragging 3-->
    {{{podLink '2c9250' gradeMap undefined}}} <!-- elevators 2-->
    {{{podLink 'e492fc' gradeMap undefined}}} <!-- newtons model-->
    {{{podLink 'ed5f91' gradeMap undefined}}} <!-- earth is round-->
    <li>
        <a href = https://www.wcvb.com/article/beavers-wander-into-their-local-cumbys/25352430>
            Really important link.
        </a>
    </li>
</ul>


<script>
    const AP_goalsObject = JSON.parse('{{{getGoalsObject "AP" gradeMap}}}');

    function writeAPGoalsByDueDate() {
        let list = listGoalsByDueDate(AP_goalsObject);
        $("#AP_goals").empty();
        $("#AP_goals").append(list);

        $("#AP_goals_dueDate").removeClass('btn-secondary');
        $("#AP_goals_dueDate").addClass('btn-primary');

        $("#AP_goals_topic").removeClass('btn-primary');
        $("#AP_goals_topic").addClass('btn-secondary');
    }

    function writeAPGoalsByTopic() {
        let list = listGoalsByTopic(AP_goalsObject);
        $("#AP_goals").empty();
        $("#AP_goals").append(list);

        $("#AP_goals_topic").removeClass('btn-secondary');
        $("#AP_goals_topic").addClass('btn-primary');

        $("#AP_goals_dueDate").removeClass('btn-primary');
        $("#AP_goals_dueDate").addClass('btn-secondary');

    }

    writeAPGoalsByDueDate();
    $("#AP_goals_dueDate").on("click",writeAPGoalsByDueDate);
    $("#AP_goals_topic").on("click",writeAPGoalsByTopic);
</script>


<!--
101 => level 3
203 => level 3
204 => level 3
301 => level 4
302 => level 4
401 => level 4
402 => level 4
403 => level 4
601 => level 4
602 => level 3
901 => level 3
1003 => level 3
-->

