

<script>
    const Honors_goalsObject = JSON.parse('{{{getGoalsObject "Honors" gradeMap}}}');
</script>

<h3>
    Current Goals
</h3>

<ul>
    {{{printUnitLink "science_practice" "scientific_reasoning" gradeMap '3'}}}
    {{{printUnitLink "energy" "conceptual_conservation_of_energy" gradeMap '3'}}}
    {{{printUnitLink "energy" "conservation_of_energy_quantitative" gradeMap '2'}}}
    {{{printUnitLink "kinematics" "forward_kinematics_qualitative" gradeMap '3'}}}
    {{{printUnitLink "kinematics" "forward_kinematics_quantitative" gradeMap '3'}}}
    {{{printUnitLink "fundamental_forces" "conceptual_gravitation" gradeMap '2'}}}
</ul>

<h3>
    Overall Level Goal: 16
</h3>