<h3>
    Honors Physics
</h3>

<ul>
    <li>
        All quizzes are available to take,
        see above for directions.
    </li>
    <li>
        The 'official' curriculum will continue with Electromagnetic Waves.
        At the moment, all assignments are optional enrichment activities.
    </li>
    <li>
        There are two units on electromagnetic waves.
        The unit on <a href = '/unit/waves/the_electromagnetic_spectrum_quantitative'>quantitative electromagnetic waves</a> focuses on the
        mathematics and analytical reasoning behind the scores.
        The unit on <a href = '/unit/waves/the_electromagnetic_spectrum_conceptual'>qualitative electromagnetic waves</a> focuses on the
        applications of electromagnetic waves, where they appear in your
        own life and the universe.
        (I am in the process of adding content to this unit.)
    </li>
</ul>

<h4>
    Units:
</h4>

<ul>
    {{printUnitLink 'waves' 'the_electromagnetic_spectrum_quantitative' gradeMap}}
    {{printUnitLink 'waves' 'the_electromagnetic_spectrum_conceptual' gradeMap}}
    {{printUnitLink 'mechanics' 'quantitative_dynamics' gradeMap}}
    {{printUnitLink 'mechanics' 'conservation_of_energy_quantitative' gradeMap}}
    {{printUnitLink 'mechanics' 'collisions_and_explosions' gradeMap}}
</ul>