
<h3>
    Quiz 1
</h3>
<ul>
    <li>
        Section A: Wednesday September 21
    </li>
    <li>
        Section B: Tuesday September 20
    </li>
    <li>
        Section C: Tuesday September 20
    </li>
</ul>

<h3>
    Content
</h3>
<ul>
    {{{podLink '' gradeMap undefined}}} <!-- cosmic address 1-->
    {{{podLink '' gradeMap undefined}}} <!-- cosmic address 2-->
    {{{podLink '' gradeMap undefined}}} <!-- basic gravity-->
    {{{podLink '' gradeMap undefined}}} <!-- kine graph connnections-->
    {{{podLink '' gradeMap undefined}}} <!-- kineq 1-->
    {{{podLink '' gradeMap undefined}}} <!-- kineq 2-->
    <!-- a few basic stuff like sig figs-->
    <!-- possibly some easier kine eq quizes-->>

</ul>


<h3>
    Honors Physics Optional Summer Work 2022
</h3>

<p>
    For honors physics, you are not expected to study over the summer.
    However, if you would like to get ahead,
    I provided a list of some of the content will we learn over the course of the first few weeks of the year.
</p>

<ul>
    <li>
        <a href = "/pod/71bc06">Numeric Algebra 1</a>
    </li>
    <li>
        <a href = "/pod/bd4cf2">Numeric Algebra 2</a>
    </li>
    <li>
        <a href = "/pod/54c21b">Trigonometry 1: The Pythagorean Theorem</a>
    </li>
    <li>
        <a href = "/pod/3c023e">Pi</a>
    </li>
    <li>
        <a href = "/pod/d6137d">Circle Math 1</a>
    </li>
    <li>
        <a href = "/pod/9ab51d">Trigonometry 2: Trigonometric Functions</a>
    </li>
    <li>
        <a href = "/pod/cc841e">Trigonometry 3: Inverse Trigonometric Functions</a>
    </li>
    <li>
        <a href = "/pod/d7d911">Powers of 10</a>
    </li>
    <li>
        <a href = "/pod/86f07c">Scientific Notation 1</a>
    </li>
    <li>
        <a href = "/pod/f7055b">Scientific Notation 2</a>
    </li>
    <li>
        <a href = "/pod/f6715d">Scientific Notation 3</a>
    </li>
    <li>
        <a href = "/pod/263ad0">Very Fast Conversions</a>
    </li>
    <li>
        <a href = "/pod/72607f">Memorizing The Metric Prefixes</a>
    </li>
    <li>
        <a href = "/pod/d32054">Scientific Notation on a Calculator</a>
    </li>
    <li>
        <a href = "/pod/64f606">Scientific Notation 4</a>
    </li>
    <li>
        <a href = "/pod/7d1b7e">Scientific Notation 5</a>
    </li>
    <li>
        <a href = "/pod/92fa82">Qualitative vs. Quantitative Reasoning</a>
    </li>
    <li>
        <a href = "/pod/81cace">Identifying Variables in an Experiment</a>
    </li>
    <li>
        <a href = "/pod/c59587">Significant Figures 1</a>
    </li>
    <li>
        <a href = "/pod/4563a8">Significant Figures 2</a>
    </li>
    <li>
        <a href = "/pod/2b2b55">Significant Figures 3</a>
    </li>
    <li>
        <a href = "/pod/8d7e19">Position Graphs and Motion Maps</a>
    </li>
    <li>
        <a href = "/pod/bc4f99">Kinematic Graph Connections</a>
    </li>
    <li>
        <a href = "/pod/cc7830">The Speed Formula</a>
    </li>
    <li>
        <a href = "/pod/a08be5">The Acceleration Formula</a>
    </li>
    <li>
        <a href = "/pod/a3b36d">Kinematic Equations 1</a>
    </li>
    <li>
        <a href = "/pod/c64e40">Quantitative Kinematic Graphs 1</a>
    </li>
    <li>
        <a href = "/pod/eda5ba">Kinematic Equations 2</a>
    </li>
    <li>
        <a href = "/pod/1a4b0b">Free-Body Diagrams</a>
    </li>
    <li>
        <a href = "/pod/193942">Finding Net Force</a>
    </li>
    <li>
        <a href = "/pod/8778d7">Newton's Second Law</a>
    </li>
    <li>
        <a href = "/pod/a131a7">Finding Acceleration</a>
    </li>
</ul>


<script>
    const Honors_goalsObject = JSON.parse('{{{getGoalsObject "Honors" gradeMap}}}');

    function writeHonorsGoalsByDueDate() {
        let list = listGoalsByDueDate(Honors_goalsObject);
        $("#Honors_goals").empty();
        $("#Honors_goals").append(list);

        $("#Honors_goals_dueDate").removeClass('btn-secondary');
        $("#Honors_goals_dueDate").addClass('btn-primary');

        $("#Honors_goals_topic").removeClass('btn-primary');
        $("#Honors_goals_topic").addClass('btn-secondary');
    }

    function writeHonorsGoalsByTopic() {
        let list = listGoalsByTopic(Honors_goalsObject);
        $("#Honors_goals").empty();
        $("#Honors_goals").append(list);

        $("#Honors_goals_topic").removeClass('btn-secondary');
        $("#Honors_goals_topic").addClass('btn-primary');

        $("#Honors_goals_dueDate").removeClass('btn-primary');
        $("#Honors_goals_dueDate").addClass('btn-secondary');

    }

    writeHonorsGoalsByDueDate();
    $("#Honors_goals_dueDate").on("click",writeHonorsGoalsByDueDate);
    $("#Honors_goals_topic").on("click",writeHonorsGoalsByTopic);
</script>

