

<h4>
    Homework and Memorization Quizzes (low weighting)
</h4>

<ul>
    {{individualPodLink 'science_practice' 'scientific_reasoning' 'qualitative_vs_quantitative' gradeMap '1 - '}}
    {{individualPodLink 'science_practice' 'scientific_reasoning' 'identify_variables_1' gradeMap '2 - '}}
    {{individualPodLink 'energy' 'conceptual_conservation_of_energy' 'energy_transfer_1' gradeMap '3 - '}}
    {{individualPodLink 'energy' 'conceptual_conservation_of_energy' 'state_law_conservation_of_energy' gradeMap '4 (in class only) - '}}
    {{individualPodLink 'kinematics' 'forward_kinematics_qualitative' 'position_graphs_motion_maps' gradeMap '5 - '}}
    {{individualPodLink 'kinematics' 'forward_kinematics_qualitative' 'velocity_acceleration_graphs' gradeMap '6 - '}}
    {{individualPodLink 'kinematics' 'forward_kinematics_quantitative' 'speed_formula' gradeMap '7 - '}}
    {{individualPodLink 'kinematics' 'forward_kinematics_quantitative' 'acceleration_formula' gradeMap '8 - '}}
    {{individualPodLink 'kinematics' 'forward_kinematics_quantitative' 'kinematic_equations_1' gradeMap '9 - '}}
    {{individualPodLink 'kinematics' 'forward_kinematics_quantitative' 'quantitative_kinematic_graphs_1' gradeMap '10 - '}}
    {{individualPodLink 'kinematics' 'forward_kinematics_quantitative' 'kinematic_equations_2' gradeMap '11 - '}}
    {{individualPodLink 'fundamental_forces' 'conceptual_gravitation' 'basic_gravity' gradeMap '12 - '}}
    {{individualPodLink 'fundamental_forces' 'conceptual_gravitation' 'mass_vs_weight_1' gradeMap '13 - '}}
</ul>

<h4>
    In Class Quiz (high weighting)
</h4>

<ul>
    {{individualPodLink 'kinematics' 'forward_kinematics_qualitative' 'kinematic_graph_connections' gradeMap '14 - '}}
</ul>

<!--<h3>-->
<!--    Current Goals-->
<!--</h3>-->

<!--<div class = 'container'>-->
<!--    <div class = 'row'>-->
<!--        <div class = 'col-2'></div>-->
<!--        <div class = 'col-3 btn' id = 'Honors_goals_topic'>Arrange By Topic</div>-->
<!--        <div class = 'col-1'></div>-->
<!--        <div class = 'col-3 btn' id = 'Honors_goals_dueDate'>Arrange By Date</div>-->
<!--        <div class = 'col-2'></div>-->
<!--    </div>-->
<!--</div>-->

<!--<div id = 'Honors_goals'></div>-->

<script>
    const Honors_goalsObject = JSON.parse('{{{getGoalsObject "Honors" gradeMap}}}');

    function writeHonorsGoalsByDueDate() {
        let list = listGoalsByDueDate(Honors_goalsObject);
        $("#Honors_goals").empty();
        $("#Honors_goals").append(list);

        $("#Honors_goals_dueDate").removeClass('btn-secondary');
        $("#Honors_goals_dueDate").addClass('btn-primary');

        $("#Honors_goals_topic").removeClass('btn-primary');
        $("#Honors_goals_topic").addClass('btn-secondary');
    }

    function writeHonorsGoalsByTopic() {
        let list = listGoalsByTopic(Honors_goalsObject);
        $("#Honors_goals").empty();
        $("#Honors_goals").append(list);

        $("#Honors_goals_topic").removeClass('btn-secondary');
        $("#Honors_goals_topic").addClass('btn-primary');

        $("#Honors_goals_dueDate").removeClass('btn-primary');
        $("#Honors_goals_dueDate").addClass('btn-secondary');

    }

    writeHonorsGoalsByDueDate();
    $("#Honors_goals_dueDate").on("click",writeHonorsGoalsByDueDate);
    $("#Honors_goals_topic").on("click",writeHonorsGoalsByTopic);
</script>

