<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body class = 'bg-light'>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<h3>
    {{unitNumber}}-{{letter}}: {{title}}
</h3>
<ul>
    <li>
        Topic Cluster: {{unitClusterName}}
    </li>
    <li>
        Topic: {{unitName}}
    </li>
    <li>
        Objective: {{objective}}
    </li>
    <li>
        Content: {{content}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>
<div class = 'no-print'>
    <h4>
        <a href = '{{backLink}}'>BACK to Topic {{unitName}}</a>
    </h4>
</div>
<div class = 'jumbotron text-center'>
    <h1 class = 'display-1'>
        Practice Page
    </h1>
    <h2>
        <span class = 'display-1'>Not </span>
        <span class = 'display-2'>the </span>
        <span class = 'display-3'>quiz</span>
    </h2>
</div>
{{displayQuizLink superUnitKey unitKey podKey loggedIn ungradedQuizzes}}
<script>
    const letter = '{{letter}}';
</script>
<div>
    {{showPreviousQuizAttempts previousAttempts}}
</div>
<div>
    {{{body}}}
</div>
<h3>
    <a href = '{{practiceSubmissionLink}}' >Submit Practice Page</a>
</h3>
{{displayQuizLink superUnitKey unitKey podKey loggedIn ungradedQuizzes}}
<div class = 'no-print'>
    <h4>
        <a href = '{{backLink}}'>BACK to Topic {{unitName}}</a>
    </h4>
</div>
<footer>
    {{>footer}}
</footer>
</body>
</html>
