<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
    <link rel = 'stylesheet' type = 'text/css' href = '/stylesheets/physicsTableStyleSheet.css' />
</head>
<body>
{{>commonJavascriptAssets}}
<script src = "/javascript/physicsTableGeneration.js"></script>
<script src = "/javascript/writtenProblemFunctions.js"></script>
<header>
    {{>header}}
</header>
<h3>
    {{letter}}: {{title}}
</h3>
<ul>
    <li>
        Unit: {{unitName}}
    </li>
    <li>
        Objective: {{objective}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>
<div>
    {{{body}}}
</div>
<div id = 'putQuestionsHere'>
</div>
<div class = 'container'>
    <button class = 'btn btn-info' data-toggle = "collapse" data-target = "#putAnswersHere">Show Answers</button>
    <div id = 'putAnswersHere' class = 'collapse'>
    </div>
</div>
<script>
    var myProblems = new writtenProblemList();
    $.getJSON( '{{assetPath}}' + '{{selectedPodKey}}' +'_problems.json',(data)=>{
        data.problems.forEach((problem) => {
            myProblems.addProblem(problem);
        });
    });
    myProblems.insertLists('putQuestionsHere','putAnswersHere');
</script>
<div>
    {{listAllPodsWithinUnit selectedUnitClusterKey selectedUnitKey}}
 </div>
<footer>
    {{>footer}}
</footer>
</body>
</html>