<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<h3>
    {{unitNumber}}-{{letter}}: {{title}}
</h3>
<ul>
    <li>
        Unit Cluster: {{unitClusterName}}
    </li>
    <li>
        Unit: {{unitName}}
    </li>
    <li>
        Objective: {{objective}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>
<h3>
    NOT A QUIZ
    <br>
    TO LEARN AND STUDY!
</h3>
{{displayQuizLink selectedUnitClusterKey selectedUnitKey selectedPodKey}}
<script>
    const letter = '{{letter}}';
</script>
<div>
    {{{body}}}
</div>
<div class = 'no-print'>
    {{listAllPodsWithinUnit selectedUnitClusterKey selectedUnitKey}}
 </div>
<footer>
    {{>footer}}
</footer>
</body>
</html>
