<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
    <link rel = 'stylesheet' type = 'text/css' href = '/stylesheets/physicsTableStyleSheet.css' />
</head>
<body>
{{>commonJavascriptAssets}}
<script src = "/javascript/writtenProblemFunctions.js"></script>
<script src = "/javascript/physicsTableGeneration.js"></script>
<header>
    {{>header}}
</header>
<h3>
    Pod: {{title}}
</h3>
<ul>
    <li>
        Unit: {{unitName}}
    </li>
    <li>
        Objective: {{objective}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>
<div>
    {{{body}}}
</div>
<div>
    {{listAllPodsWithinUnit selectedUnitClusterKey selectedUnitKey}}
 </div>
<footer>
    {{>footer}}
</footer>
</body>
</html>