<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body class = 'bg-light'>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>

<h3>
    {{title}}
</h3>

<div class = 'jumbotron text-center'>
    <h1 class = 'display-1'>
        Practice Page
    </h1>
    <h2>
        <span class = 'display-1'>Not </span>
        <span class = 'display-2'>the </span>
        <span class = 'display-3'>quiz</span>
    </h2>
</div>

<div class = 'jumbotron no-print'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-md-6 border border-dark' style = 'font-size: 30px'>
                {{{practiceLink loggedIn practiceRequirementObject id practiceComments}}}
            </div>
            <div class = 'col-md-6 border border-dark' style = 'font-size: 30px'>
                {{{quizLinkNew loggedIn quizRequirementObject id}}}
            </div>
        </div>
        {{#if notLoggedIn}}
            <div class = 'row'>
                <div class = 'col-6'>
                    <h5><a href = '/login'>Login Here</a></h5>
                </div>
            </div>
        {{/if}}
    </div>
</div>


<h3>
    {{title}}
</h3>
<ul>
    <li>
        Topic Cluster: {{unitClusterName}}
    </li>
    <li>
        Topic: {{unitName}}
    </li>
    <li>
        Objective: {{objective}}
    </li>
    <li>
        Content: {{content}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>
<div class = 'no-print'>
    <h4>
        <a href = '{{backLink}}'>BACK to Ladder {{unitName}}</a>
    </h4>
</div>
<div class = 'display-2 text-danger'>{{flash}}</div>

<script>
    const letter = '{{letter}}';
</script>

<div class = 'pageBreak'></div>

{{#if (isLoggedIn loggedIn)}}
<div class = 'noPrint'>
<h4>
    Previous Submissions
</h4>
<div class="accordion" id = 'submissionAccordion' class = 'no-print'>
    <div class="card">
        <div class = 'card-header practiceSubmissionCard' id = 'practice_submission_header'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target="#collapse_practice" aria-expanded="false" aria-controls="collapse_practice">
                    Previous Practice Page Submissions
                </button>
            </h3>
        </div>
        <div id = 'collapse_practice' class = 'collapse' aria-labelledby="practice_submission_header" data-parent = '#submissionAccordion'>
            <div class = 'card-body'>
                <div>
                    {{showPreviousPracticeSubmissions previousPracticeSubmissions}}
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class = 'card-header quizAttemptCard' id = 'quiz_attempt_header'>
            <h3 class = 'mb-0'>
                <button class = 'btn btn-link' type = 'button' data-toggle = 'collapse' data-target="#collapse_quiz" aria-expanded="false" aria-controls="collapse_quiz">
                    Previous Quiz Attempts
                </button>
            </h3>
        </div>

        <div id = 'collapse_quiz' class = 'collapse' aria-labelledby="quiz_attempt_header" data-parent = '#submissionAccordion'>
            <div class = 'card-body'>
                <div>
                    {{showPreviousQuizAttempts previousAttempts}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{/if}}

<div>
    {{{body}}}
</div>
<div class = 'no-print'>
    <h4>
        <a href = '{{backLink}}'>BACK to Ladder {{unitName}}</a>
    </h4>
</div>

<div class = 'jumbotron no-print'>
    <div class = 'container'>
        <div class = 'row'>
            <div class = 'col-md-6 border border-dark' style = 'font-size: 30px'>
                {{{practiceLink loggedIn practiceRequirementObject id practiceComments}}}
            </div>
            <div class = 'col-md-6 border border-dark' style = 'font-size: 30px'>
                {{{quizLinkNew loggedIn quizRequirementObject id}}}
            </div>
        </div>
        {{#if notLoggedIn}}
            <div class = 'row'>
                <div class = 'col-6'>
                    <h5><a href = '/login'>Login Here</a></h5>
                </div>
            </div>
        {{/if}}
    </div>
</div>


<footer>
    {{>footer}}
</footer>
</body>
</html>
