<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body class = 'bg-light'>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>

<div class = 'jumbotron text-center'>
    <h1 class = 'display-1'>
        Miniquiz
    </h1>
    <h2>
        <span class = 'display-1'>This </span>
        <span class = 'display-2'>is </span>
        <span class = 'display-3'>the </span>
        <span class = 'display-4'>quiz </span>
    </h2>
</div>

<h3 class="podTitle">
    {{title}}
    <br>
    Version {{version}}
    <br>
    Level {{level}}
</h3>
<div class = 'no-print'>
    <h4>
        <a href = '{{backLink}}'>BACK</a>
    </h4>
</div>
<ul class = 'sectionInfoList'>
    <li>
        Topic Cluster: {{unitClusterTitle}}
    </li>
    <li>
        Topic: {{unitTitle}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>

{{#if submitPaper}}
    <div class = 'border border-primary'>
        <h4>
            Please Turn in a Paper Submission
        </h4>
        <h5>
            Submit each quiz on an individual piece of paper!
        </h5>
        <h5>
            At the top of the page, write the red text exactly as below:
        </h5>
        <ul class = 'text-danger'>
            <li>
                Name: {{userName}}
            </li>
            <li>
                Section: {{sectionName}}
            </li>
            <li>
                Quiz: {{unitNumber}}-{{letter}}
            </li>
            <li>
                Version: {{version}}
            </li>
        </ul>
    </div>
{{/if}}

<div>
    {{{body}}}
</div>

{{#if submitOnline}}
    <h4>
        Please upload a submission for this miniquiz.
    </h4>
    <form action = '/quiz/{{id}}' method="post" enctype="multipart/form-data" id = 'quizSubmitForm'>
        <input type = 'file' name = 'image' value = 'Upload File' class = 'quizFileUploadButton' accept ='.jpg, .jpeg, .png, .pdf, .heic'/>
        <p>
            Please submit <code>.jpg</code> or <code>.png</code> files.
        </p>
        <br><br>
        <a class = 'btn btn-primary' data-toggle = 'collapse' href = '#moreFiles' role = 'button' aria-expanded = 'false' aria-controls="moreFiles">Click to add more files</a>
        <div class = 'collapse' id = 'moreFiles'>
            File 2:
            <input type = 'file' name = 'image' value = 'Upload File' class = 'quizFileUploadButton' accept ='.jpg, .jpeg, .png, .pdf, .heic'/>
            <br><br>
            File 3:
            <input type = 'file' name = 'image' value = 'Upload File' class = 'quizFileUploadButton' accept ='.jpg, .jpeg, .png, .pdf, .heic'/>
        </div>
        <br>
        <br>
        <input type = 'submit' value = 'Submit Quiz' class = 'quizSubmitButton' id = 'submitButton' />
    </form>
    <div id = 'waitInfoDiv'>
    </div>
{{/if}}


<script>
    let waitMessage = $("<h4 class = 'text-info'>Please Wait</h4>");
    $("#quizSubmitForm").on("submit", () => {
        $("#submitButton").remove();
        $("#waitInfoDiv").append(waitMessage);
    });
</script>


{{#if noSubmission}}
    <h4>
        You already aced this quiz! Yay!
    </h4>
{{/if}}

<div class = 'no-print'>
    <h4>
        <a href = '{{backLink}}'>BACK</a>
    </h4>
</div>
<footer>
    {{>footer}}
</footer>
</body>
</html>