<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<h3 class="podTitle">
    {{unitNumber}}-{{letter}}: {{title}}
</h3>
<h3>
    QUIZ!
</h3>
<ul>
    <li>
        Unit Cluster: {{unitClusterTitle}}
    </li>
    <li>
        Unit: {{unitTitle}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>
<div>
    {{{body}}}
</div>

<p>
    <a href = '/quizzes/{{selectedUnitClusterKey}}/{{selectedUnitKey}}'>BACK</a>
</p>
<footer>
    {{>footer}}
</footer>
</body>
</html>