<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body class = 'bg-light'>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<h3 class="podTitle">
    {{unitNumber}}-{{letter}}: {{title}}
    <br>
    Version {{version}}
    <br>
    Level {{level}}
</h3>
<h3>
    MINIQUIZ!
</h3>
<div class = 'no-print'>
    <h4>
        <a href = '{{backLink}}'>BACK</a>
    </h4>
</div>
<ul class = 'sectionInfoList'>
    <li>
        Unit Cluster: {{unitClusterTitle}}
    </li>
    <li>
        Unit: {{unitTitle}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>
<div>
    {{{body}}}
</div>

{{#if (isQuizNotPassed selectedUnitClusterKey selectedUnitKey selectedPodKey gradeMap)}}
    <form action = '/submitMiniquiz?uuid={{pod_uuid}}' method="post" enctype="multipart/form-data">
    <input type = 'file' name = 'image' value = 'Upload File' class = 'quizFileUploadButton' accept ='.jpg, .jpeg, .png, .pdf, .heic'/>
    <br>
    <p>
        Please submit a <code>.jpg</code> or <code>.png</code> file.
    </p>
    <br>
    <br>
    <input type = 'submit' value = 'Submit Quiz' class = 'quizSubmitButton' />
</form>
{{else}}
<h4>
    You already passed this quiz! Yay!
</h4>
{{/if}}

<div class = 'no-print'>
    <h4>
        <a href = '{{backLink}}'>BACK</a>
    </h4>
</div>
<footer>
    {{>footer}}
</footer>
</body>
</html>