<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<h3 class="podTitle">
    {{unitNumber}}-{{letter}}: {{title}}
    <br>
    Version {{version}}
    <br>
    Level {{level}}
</h3>
<h3>
    MINIQUIZ!
</h3>
<div class = 'no-print'>
    <h4>
        <a href = '{{backLink}}'>BACK</a>
    </h4>
</div>
<ul class = 'sectionInfoList'>
    <li>
        Unit Cluster: {{unitClusterTitle}}
    </li>
    <li>
        Unit: {{unitTitle}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>
<div>
    {{{body}}}
</div>

<div class = 'no-print'>
    <h4>
        <a href = '{{backLink}}'>BACK</a>
    </h4>
</div>
<footer>
    {{>footer}}
</footer>
</body>
</html>