<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body class = 'bg-light'>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<h2>
    {{unitNumber}}: {{title}}
</h2>
<ul>
    <li>
        Super Unit: {{unitClusterName}}
    </li>
</ul>
{{{printUnitLevel selectedUnitClusterKey selectedUnitKey gradeMap}}}
<div>
    {{{body}}}
</div>
<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-4-md p-6'>
            {{listOfPods selectedUnitClusterKey selectedUnitKey gradeMap}}
        </div>
        <div id = 'putUnitMapHere' class = 'col-8-md'></div>
    </div>
</div>

<a href = '/superUnit/{{selectedUnitClusterKey}}'>BACK TO SUPER UNIT {{unitClusterName}}</a>
<footer>
    {{>footer}}
</footer>
<script>
    var myUnitMap = new UnitMap();
    {{addAllPodsToMap selectedUnitClusterKey selectedUnitKey gradeMap}}
    console.log(myUnitMap);
    myUnitMap.connectPrerequisites();
    var myUnitMapCanvas = myUnitMap.drawCanvas(myUnitMap.getMaxHorizontalPosition()*120,myUnitMap.getMaxLevel()*120);
    $("#putUnitMapHere").append(myUnitMapCanvas);
</script>
</body>
</html>