<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body class = 'bg-light'>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<h2>
    {{unitNumber}}: {{title}}
</h2>
<ul>
    <li>
        Topic Cluster: {{unitClusterName}}
    </li>
</ul>
{{{printUnitLevel selectedUnitClusterKey selectedUnitKey gradeMap}}}
<div>
    {{{body}}}
</div>
<div class = 'container m-2'>
    <div class = 'row'>
        <div class = 'col-lg-6 col-md-4 '>
            {{listOfPods selectedUnitClusterKey selectedUnitKey gradeMap}}
        </div>
        <div id = 'putUnitMapHere' class = 'col-lg-6 col-md-8 '></div>
    </div>
</div>

<a href = '{{backLink}}'>BACK to Topic {{unitClusterName}}</a>
<footer>
    {{>footer}}
</footer>
<script>
    var myUnitMap = new UnitMap();
    {{addAllPodsToMap selectedUnitClusterKey selectedUnitKey gradeMap}}
    console.log(myUnitMap);
    myUnitMap.connectPrerequisites();
    var myUnitMapCanvas = myUnitMap.drawCanvas(myUnitMap.getMaxHorizontalPosition()*120,myUnitMap.getMaxLevel()*120);
    $("#putUnitMapHere").append(myUnitMapCanvas);
</script>
</body>
</html>
