<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<ul>
    <li>
        Unit Cluster: {{unitClusterName}}
    </li>
</ul>
<div>
    {{{body}}}
</div>
<div id = 'putUnitMapHere'></div>
<div>
    {{listAllPodsWithinUnit selectedUnitClusterKey selectedUnitKey}}
</div>
<div>
    {{createUnitNavbar selectedUnitClusterKey}}
</div>
<footer>
    {{>footer}}
</footer>
<script>
    var myUnitMap = new unitMap();
    {{addAllPodsToMap selectedUnitClusterKey selectedUnitKey}}
    myUnitMap.connectPrerequisites();
    var myUnitMapCanvas = myUnitMap.drawCanvas(500,500);
    $("#putUnitMapHere").append(myUnitMapCanvas);
</script>
</body>
</html>