<!DOCTYPE html>
<html lang = "en">
<head>
    {{>metaTags}}
    <title>{{title}}</title>
    {{>commonStyleSheets}}
</head>
<body>
{{>commonJavascriptAssets}}
<header>
    {{>header}}
</header>
<ul>
    <li>
        Unit Cluster: {{unitClusterName}}
    </li>
    <li>
        Unit Number: {{unitNumber}}
    </li>
</ul>
<div>
    {{{body}}}
</div>
<div id = 'putUnitMapHere'></div>
<div>
    {{listAllPodsWithinUnit selectedUnitClusterKey selectedUnitKey gradeMap}}
</div>
<!--
<div>
    {{createUnitNavbar selectedUnitClusterKey}}
</div>
-->
<footer>
    {{>footer}}
</footer>
<script>
    var myUnitMap = new UnitMap();
    {{addAllPodsToMap selectedUnitClusterKey selectedUnitKey}}
    console.log(myUnitMap);
    myUnitMap.connectPrerequisites();
    var myUnitMapCanvas = myUnitMap.drawCanvas(myUnitMap.getMaxHorizontalPosition()*120,myUnitMap.getMaxLevel()*120);
    $("#putUnitMapHere").append(myUnitMapCanvas);
</script>
</body>
</html>