
<h4>
    You are about to take a miniquiz on {{podTitle}}!
</h4>

<ul>
    <li>
        Topic Cluster: {{topicClusterTitle}}
    </li>
    <li>
        Topic: {{topicTitle}}
    </li>
    <li>
        Objective {{objective}}
    </li>
    <li>
        Content: {{content}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>

<h4>
    Conditions
</h4>
<p>
    By clicking "Take Quiz," you are agreeing to the following conditions:
</p>
<ul>
    <li>
        You are working independently.
    </li>
    <li>
        You are working on a blank sheet of paper and not consulting any written notes.
    </li>
    <li>
        You will not look at the study page or any reference material, online or in print, while taking the quiz.
    </li>
</ul>

{{#if memorizationQuiz}}
    <div class = 'container'>
        <div class = 'row text-center'>
            <h3>
                This is a memorization quiz.
                All memorization quizzes must be taken in class.
                Enter password below.
            </h3>
        </div>
    </div>
{{/if}}

{{#if nonMemorizationMessage}}
    <div class = 'container'>
        <div class = 'row text-center'>
            <h3>
                This quiz must be taken in class.
                Enter password below.
            </h3>
        </div>
    </div>
{{/if}}

<div class = 'container'>
        <form action = '/quiz/{{uuid}}' method = 'POST'>
            {{#if passwordAccessRequired}}
                <div class = 'row text-center'>
                    <input class = 'h-100' type = 'password' name = 'password' />
                </div>
            {{/if}}
            <div class = 'row text-center'>
                <button type = 'submit' class = 'btn btn-secondary btn-xl'>TAKE QUIZ</button>
            </div>
        </form>
</div>



<a href = '{{backLink}}'>BACK</a>