
<h4>
    You are about to take a miniquiz on {{podTitle}}!
</h4>

<ul>
    <li>
        Topic Cluster: {{topicClusterTitle}}
    </li>
    <li>
        Topic: {{topicTitle}}
    </li>
    <li>
        Objective {{objective}}
    </li>
    <li>
        Content: {{content}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>


<form action = '/quiz/uuid' method = 'POST'>
    <button type = 'submit' class = 'btn btn-secondary'>TAKE QUIZ</button>
</form>


<a href = '{{backLink}}'>BACK</a>