
<h4>
    You are about to take a miniquiz on {{podTitle}}!
</h4>

<ul>
    <li>
        Topic Cluster: {{topicClusterTitle}}
    </li>
    <li>
        Topic: {{topicTitle}}
    </li>
    <li>
        Objective {{objective}}
    </li>
    <li>
        Content: {{content}}
    </li>
    <li>
        Level: {{level}}
    </li>
</ul>

{{#if memorizationQuiz}}
<h5>
    This is a memorization quiz.
    All memorization quizzes must be taken in class.
</h5>
{{/if}}

{{#if nonMemorizationMessage}}
<h5>
    This quiz must be taken in class.
</h5>
{{/if}}

<form action = '/quiz/{{uuid}}' method = 'POST'>
    {{#if passwordAccessRequired}}
    <input type = 'password' name = 'password' />
    {{/if}}
    <button type = 'submit' class = 'btn btn-secondary'>TAKE QUIZ</button>
</form>


<a href = '{{backLink}}'>BACK</a>