<p>
    Refer to this page whenever Mr. Kuncik is absent.
</p>


<h4 class = 'text-danger'>
    Please print the pages only if there is a very important reason to do so!
</h4>
<h4 class = 'text-info'>
    I prefer you to answer clearly on a sheet on lined paper.
</h4>

<h2>
    AP Physics
</h2>
<h3>
    Part 1: Watch the following videos:
</h3>
<ul>
    <li>
        <a href = 'https://www.flippingphysics.com/work-intro.html'>
            Introduction to Work
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/intro-ke.html'>
            Introduction to Kinetic Energy
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/intro-peg.html'>
            Introduction to Gravitational Potential Energy
        </a>
    </li>
</ul>

<h3>
    Part 2: Worksheets
</h3>

<p>
    Complete and turn in the following worksheets and turn in photographs
    of your handwritten work on Google Classroom tonight.
    Please submit each assignment separately.
</p>
<ul>
    {{{podLink '8766aa' gradeMap undefined}}} <!-- energy table 1-->
    {{{podLink 'cd905e' gradeMap undefined}}} <!-- energy formulas-->
    {{{podLink '168673' gradeMap undefined}}} <!-- energy table 2-->
    {{{podLink 'b1e3aa' gradeMap undefined}}} <!-- work formula-->
    {{{podLink '35d382' gradeMap undefined}}} <!-- power formula-->
    {{{podLink 'de238a' gradeMap undefined}}} <!-- is work done-->
    {{{podLink '9826ee' gradeMap undefined}}} <!-- weightlifter problem-->
    {{{podLink 'f9fc71' gradeMap undefined}}} <!-- roller coaster problem-->
</ul>

<h2>
    Honors Physics
</h2>

<h3>
    Part 1: Watch the following videos:
</h3>
<ul>
    <li>
        <a href = 'https://www.flippingphysics.com/work-intro.html'>
            Introduction to Work
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/intro-ke.html'>
            Introduction to Kinetic Energy
        </a>
    </li>
    <li>
        <a href = 'https://www.flippingphysics.com/intro-peg.html'>
            Introduction to Gravitational Potential Energy
        </a>
    </li>
</ul>


<h3>
    Part 2: Worksheets
</h3>
<p>
    Complete and turn in the following worksheets and turn in photographs
    of your handwritten work on Google Classroom tonight.
</p>

<ul>
    {{{podLink '8766aa' gradeMap undefined}}} <!-- energy table 1-->
    {{{podLink 'cd905e' gradeMap undefined}}} <!-- energy formulas-->
    {{{podLink 'b1e3aa' gradeMap undefined}}} <!-- work formula-->
    {{{podLink '35d382' gradeMap undefined}}} <!-- power formula-->
    {{{podLink 'de238a' gradeMap undefined}}} <!-- is work done-->
</ul>
