<p>
    This whole unit, and all of thermodynamics, is about
    how heat energy moves from one thing to another.
    There are three methods by which heat energy moves:
    conduction, convection, and radiation.
    This unit deals primarily with conduction,
    (the unit on fluid motion deals with convection),
    and the unit of electromagnetic waves deals with radiation.
    But, first and foremost, we need to know the difference between the three different
    types of heat transfer.
</p>

<h4>
    Vocabulary
</h4>
<p class="definition" data-word = 'fluid'>
    In physics, the word <strong>fluid</strong> means a liquid or a gas.
    <br><br>
    (This is slightly different than normal English, wherein "fluids" usually refers
    only to potable liquids.)
    Liquids and gasses are fluids because the atoms and molecules can move around
    each other in change position; in a solid the atoms are molecules are locked
    into a crystal structure.
</p>
<p class="definition" data-word = 'vacuum'>
    A <strong>vacuum</strong>, a space with no molecules. Nothing.
    <br><br>
    The most important example of a vacuum is outer space.
    Most of the universe is vacuum!
</p>
<ul class="definition" data-word = 'electromagnetic wave'>
    <li>
        Oscillating electric and magnetic energy.
    </li>
    <li>
        The only thing that can move through a vacuum.
    </li>
    <li>
        Comes in seven types: radio, micro, infrared, visible light, ultraviolet, X-Ray, and gamma ray.
    </li>
</ul>

<ol class="questionList">
    <li class="question" data-answer = 'fluid'>
        What is the physics word for "nothing"?
    </li>
    <li class="question" data-answer = 'fluid'>
        What is the physics word for the states of matter except a solid?
        (Those where molecules are able to change position.)
    </li>
</ol>

<ul class="definition" data-word = 'Heat transfer'>
    <li>
        When heat energy flows from one thing to another thing.
    </li>
    <li>
        One thing will go up in temperature and the other will go down.
    </li>
    <li>
        Heat can transfer in three ways: conduction, convection, and radiation.
    </li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-6 definition border border-dark pb-3" data-word = 'Heat Conduction'>
            Heat transfer through touching.
            Molecules on the surfaces collide and exchange kinetic energy.
        </div>
        <div class="col-6 definition border border-dark pb-3" data-word = 'Examples'>
            <ul>
                <li>
                    When you touch something and it is cold.
                </li>
                <li>
                    When you touch something and it is hot!
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6 definition border border-dark pb-3" data-word = 'Heat Convection'>
            Heat transfer through fluid motion.
            Hot fluids rise, cold fluids fall.
        </div>
        <div class="col-6 definition border border-dark pb-3" data-word = 'Examples'>
            <ul>
                <li>
                    Above a heater it is warm because warm air rises.
                </li>
                <li>
                    Below a heater it is often cold
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6 definition border border-dark pb-3" data-word = 'Heat Radiation'>
            Heat transfer through an electromagnetic wave.
            The only way that heat moves through a vacuum.
        </div>
        <div class="col-6 definition border border-dark pb-3" data-word = 'Examples'>
            <ul>
                <li>
                    The sun sends heat to the earth through electromagnetic waves (radiation).
                </li>
                <li>
                    Fire and other very warm things that light up bright red.
                </li>
            </ul>
        </div>
    </div>
</div>

<ol class="questionList">
    <li class="question" data-answer = 'radiation'>
        Which is the only way that heat can travel through a vacuum?
    </li>
    <li class="question" data-answer = 'convection'>
        Which type of heat transfer involves fluid motion?
    </li>
    <li class="question" data-answer = 'conduction'>
        Which type of heat transfer involves things touching?
    </li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-12 border border-dark pt-1 pb-1">
            Heat Conduction
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-secondary pt-3"></div>
    </div>
    <div class="row">
        <div class="col-md-6 border border-dark pt-1 pb-3">
            <img src = '/asset/{{id}}/conduction_ice.png' height = '150px' width = 'auto'/>
            <br>
            Touching ice: heat leaves your hands.Asset
        </div>
        <div class="col-md-6 border border-dark pt-1 pb-3">
            <img src = '/asset/{{id}}/conduction_chicken.png' height = '150px' width = 'auto'/>
            <br>
            Heat goes into the chicken.
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-dark pt-1 pb-1">
            Heat Convection
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border border-dark pt-1 pb-3">
            <img src = '/asset/{{id}}/convection_air.png' height = '150px' width = 'auto'/>
            <br>
            Warm air is rising, and cold air is falling.
        </div>
        <div class="col-md-6 border border-dark pt-1 pb-3">
            <img src = '/asset/{{id}}/convection_liquid.png' height = '150px' width = 'auto'/>
            <br>
            Water is also a fluid, so water can have convection also.
        </div>
    </div>
    <div class="row">
        <div class="col-12 bg-secondary pt-3"></div>
    </div>
    <div class="row">
        <div class="col-12 border border-dark pt-1 pb-1">
            Heat Radiation
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border border-dark pt-1 pb-3">
            <img src = '/asset/{{id}}/radiation_sun.png' height = '150px' width = 'auto'/>
            <br>
            The sun sends heat to the earth through electromagnetic waves.
        </div>
        <div class="col-md-6 border border-dark pt-1 pb-3">
            <img src = '/asset/{{id}}/radiation_lamps.png' height = '150px' width = 'auto'/>
            <br>
            A heat lamp shines electromagnetic waves on food.
        </div>
    </div>
</div>

<p class="directions">
    For each picture, write if it shows
    <emph>conduction</emph>,
    <emph>convection</emph>,
    or <emph>radiation</emph>.
</p>

<ol class="questionList">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-4">
                <li class="question" data-answer = 'conduction'>
                    <img src = '/asset/{{id}}/ccr_doorknob.png' height = '150px' width = 'auto'/>
                </li>
            </div>
            <div class="col-md-6 p-4">
                <li class="question" data-answer = 'radiation'>
                    <img src = '/asset/{{id}}/ccr_three_rays_sun.png' height = '150px' width = 'auto'/>
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-4">
                <li class="question" data-answer = 'convection'>
                    <img src = '/asset/{{id}}/ccr_heater.png' height = '150px' width = 'auto'/>
                </li>
            </div>
            <div class="col-md-6 p-4">
                <li class="question" data-answer = 'radiation'>
                    <img src = '/asset/{{id}}/ccr_heat_lamps.png' height = '150px' width = 'auto'/>
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 p-4">
                <li class="question" data-answer = 'conduction'>
                    <img src = '/asset/{{id}}/ccr_ice_sculpture.png' height = '150px' width = 'auto'/>
                </li>
            </div>
            <div class="col-md-6 p-4">
                <li class="question" data-answer = 'convection'>
                    <img src = '/asset/{{id}}/ccr_molecules.png' height = '150px' width = 'auto'/>
                </li>
            </div>
        </div>
    </div>
</ol>

<p class="directions">
    For each statement, write if it represents an example of
    <emph>conduction</emph>,
    <emph>convection</emph>,
    or <emph>radiation</emph>.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'convection'>
        Warm air coming out of the top of the heater.
    </li>
    <li class="question" data-answer = 'convection'>
        Chicken touches a frying pan.
    </li>
    <li class="question" data-answer = 'radiation'>
        Heat from a microwave oven.
    </li>
    <li class="question" data-answer = 'radiation'>
        Heat that travels from the sun to the earth.
    </li>
    <li class="question" data-answer = 'conduction'>
        Drink a cold cup of water, and heat leaves your tongue.
    </li>
    <li class="question" data-answer = 'convection'>
        Warm water rises to the top of a pot of boiling water.
    </li>
</ol>

<h5>
    Your Own Examples:
</h5>

<ol class="questionList">
    <li class="question">
        Give 2 real life examples of CONDUCTION:
    </li>
    <li class="question">
        Give 2 real life examples of CONVECTION:
    </li>
    <li class="question">
        Give 2 real life examples of RADIATION:
    </li>
</ol>

<h4>
    Fire!
</h4>
<p>
    <strong>Fire</strong> can actually include all three different types of heat transfer.
</p>
<ul>
    <li>
        If you touch fire (or put something in the fire), it is conduction.
        The air closest to the fire is also heated by conduction.
    </li>
    <li>
        Warm smoke comes out of the top of the fire. This is convection.
    </li>
    <li>
        The fire is very bright, giving off lots of light and heat in all directions.
        This is radiation.
    </li>
</ul>
<p>
    While fire can employ all three methods of heat transfer,
    it is certainly most closely associated with <strong>radiation</strong>.
    The main reason that people light a campfire,
    so that it heats them and lights them with electromagnetic waves.
    They don't touch the fire or stay on top of a fire.
</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 border border-dark pt-2 pb-2">
            <img src = '/asset/{{id}}/ccr_joe_pesci.png' height = '150px' width = 'auto'/>
            <br><br>
            If you actually touch a fire, that is is heat conduction.
        </div>
        <div class="col-md-6 border border-dark pt-2 pb-2">
            <img src = '/asset/{{id}}/ccr_marshmellow.png' height = '150px' width = 'auto'/>
            <br><br>
            The air above a fire is warm because of heat convection.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 border border-dark pt-2 pb-2">
            <img src = '/asset/{{id}}/ccr_campfire.png' height = '150px' width = 'auto'/>
            <br><br>
            But the main way we are heated by fire is that it radiates heat in all direction.
            You can tell it is radiating heat because it is giving off so much LIGHT (electromagnetic waves!)
        </div>
        <div class="col-md-6 border border-dark pt-2 pb-2">
            A summary:
            <br><br>
            <img src = '/asset/{{id}}/ccr_three_fire_examples.png' height = '150px' width = 'auto'/>
        </div>
    </div>
</div>

<p class="directions">
    For each statement, write if it represents an example of
    <emph>conduction</emph>,
    <emph>convection</emph>,
    or <emph>radiation</emph>.
</p>

<ol class="questionList">
    <li class="question" data-answer = 'conduction'>
        You touch a fire.
    </li>
    <li class="question" data-answer = 'convection'>
        Hot air rises out the top of a fire.
    </li>
    <li class="question" data-answer = 'radiation'>
        Heat emanating out of the fire in all directions.
    </li>
</ol>

<h4>
    Applications
</h4>

<ol class="questionList">
    <li class="question">
        Imagine you are going to a football game in December.
        It is very, very cold.
        You need to sit on a metal bleacher.
        <ol class="subQuestionList">
            <li class="subQuestion" data-answer = 'cold, of course'>
                How will the metal bleacher feel?
            </li>
            <li class="subQuestion" data-answer = 'A'>
                Why is it cold?
                <ol type = 'A'>
                    <li>conduction</li>
                    <li>convection</li>
                    <li>radiation</li>
                </ol>
            </li>
            <li class="subQuestion" data-answer = 'A'>
                Which of these is happening?
                <ol type = 'A'>
                    <li>heat is leaving your body</li>
                    <li>cold is entering your body</li>
                </ol>
            </li>
            <li class="subQuestion" data-answer = "The cushion material is not as good a conudctor of heat as the metal. It doesn't take heat away as quickly.">
                If you are smart, you brought a cushion!
                <br>
                <img src = '/asset/{{id}}/ccr_bleacher_cushion.png' height = '150px' width = 'auto'/>
                <br>
                How does the cushion keep you warmer?
            </li>
        </ol>
    </li>
    <li class="question" data-answer = 'Due to convection, hot smoke rises to the top of the room. You are less likely to breath smoke if you are lower.'>
        <img src = '/asset/{{id}}/ccr_fireman.png' height = '150px' width = 'auto'/>
        <br>
        In a fire, you are told to "Stop-Drop-and Roll"
        Why do you need to drop?
        Why is it important to be close to the ground?
    </li>
    <li class="question">
        There are seven types of electromagnetic wave:
        radio, micro, infrared, visible light, ultraviolet, X-ray, and gamma ray.
        All of these can cause heat radiation, but the one most typically
        responsible for heat radiation is <strong>infrared waves</strong>.
        <br>
        The word "radiation" can seem very scary, but in physics,
        "radiation" refers only to the electromagnetic waves.
        (For a longer treatment of this issue, see
        <a href = '/pod/a4fc85'>this pod</a>).
        <br>
        Write two things that are <emph>definitely</emph> not dangerous
        but are still considered <strong>radiation</strong>.
    </li>
    <li class="question" data-answer = 'visible light'>
        Things that are <emph>radiating heat</emph> are often bright red!
        <br>
        <img src = '/asset/{{id}}/ccr_space_heater.png' height = '150px' width = 'auto'/>
        <br>
        Which of the seven types of electromagentic wave is it giving off?
    </li>
    <li class="question">
        How can you tell that a fire is <emph>radiating</emph> heat?
    </li>
</ol>
