<h4>
    Formula for energy of a system:
</h4>

<h6>
    Kinetic Energy of a Mass
</h6>
<p class ='equation'>
    $$
    KE = \frac{1}{2} m v^2
    $$
</p>

<h6>
    Gravitational Potential energy of a Mass-Earth System
</h6>
<p class = 'equation'>
    $$
    GPE = mgh
    $$
    or
    $$
    \Delta GPE = m g \Delta y
    $$
</p>

<h6>
    Elastic Potential Energy of a Spring
</h6>
<p class = 'equation'>
    $$
    EPE = \frac{1}{2} k \left( x - x_0 \right)^2
    $$
</p>


<h4>
    Problems
</h4>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '14.7 J'>
        A book with a mass of 2.5 kg is resting on
        the floor of a classroom.
        Somebody picks the book up and places it on a table with
        a height of 0.6 m above the ground.
        Calculate the work done on the book-earth system.
        (You can find this by determining the change in potential energy of the book.)
    </li>
    <li class ='question' data-answer ='8 J'>
        A spring with spring constant 400 N/m
        is resting horizontally on a table at a length of 70 cm,
        which is its equilibrium length.
        Somebody pulls it to a length of 90 cm.
        (Note that you must convert centimeters to meters to correctly solve the problem in SI units.)
        How much work was done on the spring?
    </li>
    <li class = 'question' data-answer = '1.06 J'>
        A spring with a spring constant of 300. N/m is resting horizontally at its
        equilibrium length of 60.0 cm and attached to a mass of 2.00 kg.
        Something happens (you are not sure what), and some time later
        the spring is compressed to a length of 50.0 cm and the mass
        is moving at a rate of 75.0 cm/s.
        Determine the total amount of work done on the mass-spring system.
    </li>
    <li class = 'question' data-answer = '12.06 J'>
        A 3 kg block with the ability to move is on a staircase.
        It is 2 meters off the ground and is moving at a speed of 0.4 m/s.
        Sometime later, after some unknown event occurred,
        it is on another step that is 2.4 m of the ground and moving with a
        speed of 0.6 m/s.
        Determine the total amount of work done on the block-earth system.
    </li>
    <li class = 'question' data-answer = '32.4 J'>
        A 0.8 kg ball is at rest on top of a building that is 15 meters tall.
        It falls off, and immediately before striking the ground has a speed of
        9 m/s.
        How much work was done on the ball as it fell?
        What force likely did this work?
    </li>
</ol>

<h4>
    Trigonometry in Energy Problems
</h4>

<p>
    Many problems regarding energy, in particular those involving gravitational potential energy,
    involve some geometry and trigonometry.
    This is because the formula for gravitational potential energy involves
    <emph>vertical</emph> height,
    and yet things that move upward often do so at an angle.
    Some basic trigonometry is necessary to find the vertical height.
</p>

<ol class = 'questionList'>
    <li class = 'question' data-answer = '\( x \sin \theta \)'>
        A person is climbing a big hill.
        The hill has an angle of incline \( \theta \).
        The person has climbed a distance \( x \) from the bottom.
        Determine the person's height from the bottom of the hill \( h \)
        in terms of \( x \) and \( \theta \).
        <br>
        <img src = '/asset/{{id}}/person_on_ramp.png' height = '300px' width = 'auto'/>
    </li>
    <li class = 'question' data-answer = '\( h = l \left( 1 - \cos \theta \right) \)'>
        A pendulum has a length \( l \) and is at its equilibrium position (the bottom of its swing).
        Somebody pulls the pendulum backs by an amplitude \( \theta \).
        Determine the height \( h \) that the pendulum has been raised in terms of
        \( l \) and \( \theta \).
        <br>
        <img src = '/asset/{{id}}/lifted_pendulum.png' height = '300px' width = 'auto'/>
    </li>
</ol>

<h5>
    Note:
</h5>
<p>
    The value \( h = l - l \cos \theta \) is conventionally
    written as \( h = l \left( 1 - \cos \theta \right) \).
    This is because \( l \) is a value with units of length,
    and \( \left( 1 - \cos \theta \right) \) is a dimensionless value.
    So, in the conventional form, you are multiplying a factor with dimensions
    by a dimensionless number.
</p>

<h4>
    Algebraic Problems looking for Work
</h4>

<p>
    In the problems above, you found a numerical answer for work done on a system.
    In these problems, you will find algebraic equations for work done on a system.
    The formulas you derive will be long and include many terms and variables.
    You do not need to manipulate or solve them,
    but you do need to understand what each of the individual variables means physically.
</p>

<ol class = 'questionList'>
    <li class = 'question'> <!-- Grabbing and pulling a spring-->
        A mass \( m \) is moving on a frictionless horizontal spring of spring constant \( k \).
        The mass passes through the equilibrium length of the spring \( x_0 \) with speed \( v_0 \).
        <br>
        <img src = '/asset/{{id}}/spring_work_problem_initial.png' height = 'auto' width = '300px'/>
        <br>
        Somebody grabs the mass, and thus does work on the mass-spring system.
        He then pulls the spring until it has a length \( x_f \),
        and the mass is not moving.
        <br>
        <img src = '/asset/{{id}}/spring_work_problem_final.png' height = 'auto' width = '300px'/>
        <br>
        <ol type = 'a' class = 'subQuestionList'>
            <li class = 'subQuestion'  data-answer = 'kinetic energy only'>
                What type(s) of energy does the mass-spring system have before the person grabs it?
            </li>
            <li class = 'subQuestion' data-answer = 'elastic potential energy only'>
                What type(s) of energy does the mass-spring system have after the person grabs and pulls it?
            </li>
            <li class = 'subQuestion' data-answer = '\( TE_i = \frac{1}{2} m v_0^2 \)'>
                Write an equation for the total energy \( TE_i \) of the mass-spring system before the person grabs it.
                Your equation should be in terms of \( m \) and \( v_0 \).
            </li>
            <li class = 'subQuestion' data-answer = '\(  TE_f = \frac{1}{2} k \left( x_f - x_0 \right)^2 \)'>
                Write an equation for the total energy \( TE_f \) of the mass-spring system after the person grabs and pulls it.
                Your equation should be in terms of \( k \), \( x_0 \), and \( x_f \).
            </li>
            <li class= 'subQuestion' data-answer = ' \( W = \frac{1}{2} k \left( x_f - x_0 \right)^2 - \frac{1}{2} m v_0^2 \)'>
                The work done on the mass-spring system by the person is given by \( W = TE_f - TE_i \).
                Write an equation for the work done on the system \( W \)
                in terms of \( m \), \( v_0 \), \( k \), \( x_0 \), and \( x_f \).
            </li>
            <li class= 'subQuestion' data-answer = 'The first term in the equation above is the elastic potential energy after the spring is pulled; the other term is the kinetic energy before.'>
                Briefly describe what physical quantity each term of your equation represents,
                and state why each term is either a positive or negative term.
            </li>
        </ol>
    </li>
    <li class="question"> <!-- person climbing a mountain -->
        A person with a mass of \( m \) is climbing a mountain with angle of incline \( \theta \).
        The person is initially a distance \( x_1 \) from the bottom and is moving at a speed \( v_1 \).
        <br>
        <img src = '/asset/{{id}}/climbing_a_mountain_1.png' />
        <br>
        Sometime later, they are a distance \( x_2 \) from the bottom are moving at a speed \( v_2 \).
        <br>
        <img src = '/asset/{{id}}/climbing_a_mountain_2.png' />
        <ol class = 'subQuestion' type = 'a'>
            <li>
                Write an equation for the total energy of the climber-earth system
                in the initial condition in terms of \( m \), \( g \), \( \theta \), \( x_1 \), and \( v_1 \).
            </li>
            <li>
                Write an equation for the total energy of the climber-earth system
                in the final condition in terms of \( m \), \( g \), \( \theta \), \( x_2 \), and \( v_2 \).
            </li>
            <li>
                Write an equation for the work done on the climber-earth system \( W \)
                in terms of all given variables.
            </li>
            <li>
                Briefly describe what physical quantity each term of your equation represents,
                and state why each term is either a positive or negative term.
            </li>
        </ol>
    </li>
    <li class ='question'><!--- grabbing a pendulum -->
        A pendulum is swinging.
        The pendulum bob has a mass \( m \),
        and the pendulum string has a length \( l \).
        It swings through its equilibrium position (when its string is completely vertical)
        with a speed \( v_0 \).
        <br>
        <img src = '/asset/{{id}}/grabbing_a_pendulum_1.png' />
        <br>
        Somebody grabs the pendulum, thus doing work on the system.
        They step the pendulum from moving, and then pull it backwards so it the string is
        at an angle \( \theta_f \) to the vertical.
        <br>
        <img src = '/asset/{{id}}/grabbing_a_pendulum_2.png' />
        <br>
        <ol type = 'a' class = 'subQuestionList'>
            <li>
                Determine an equation for the work done on the pendulum-earth system \( W \)
                by the person who grabbed the pendulum.
                Your equation should be in terms of \( m \), \( l \), \( g \), \( v_0 \), and \( \theta_f \).
            </li>
            <li>
                Briefly explain what physical quantity each term in your equation represents.
                Briefly describe why each term is positive or negative.
            </li>
        </ol>
    </li>
</ol>

<div class ='pageBreak'></div>
<h4>
    Answers:
</h4>
<div class = 'answerList'></div>

<p>
    #5 was a trick question!
    <br>
    It was asking for work on the 'ball' not the 'ball-earth system,'
    and therefore gravitational potential energy is not included in the system.
    The block initially had zero energy and later had 32.4 J of kinetic energy.
    <br>
    Gravity did the bulk of work on the block but air resistance
    also did some negative work, causing the block
    to strike the ground with less speed that you would predict
    with the conservation of energy alone.
</p>