<h4>
    Series Circuit Inside of a Parallel Circuit
</h4>

<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 1:
            <img src = '/asset/{{id}}/problem_1.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 2:
            <img src = '/asset/{{id}}/problem_2.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-md-6' id = 'problem3Circuit'>
            Problem 3:
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12' id = 'problem3Graph'></div>
    </div>
    <div class = 'pageBreak'></div>
    <div class = 'row'>
        <div class = 'col-md-6' id = 'problem4Circuit'>
            Problem 4:
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12' id = 'problem4Graph'></div>
    </div>

<div class = 'pageBreak'></div>
<h3>
    Parallel Circuit inside of a Series Circuit
</h3>


<h5>Formula For Equivalent Resistance of two resistors in parallel.</h5>
<p class = 'equation'>
    $$
    \frac{1}{R_T} = \frac{1}{R_1} + \frac{1}{R_2}
    $$
</p>

<h5>
    Steps
</h5>

<ol>
    <li>
        Use the formula above in order to figure out the <i>equivalent resistance</i>
        of the parallel element.
    </li>
    <li>
        Draw an <i>equivalent circuit</i> in which the parallel element is replaced by
        a single element with one resistor of the equivalent resistance.
    </li>
    <li>
        Draw an electric potential diagram for the equivalent circuit.
        It should look like a series circuit with two resistors.
        Make sure to indicate the current on this diagram using arrows.
    </li>
    <li>
        Move your circuit back to the original circuit.
        Erase the equivalent resistance element on your electric potential diagram,
        and replace it with a parallel element.
        Indicate the current on each branch of the new parallel element.
    </li>
</ol>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 5:
            <img src = '/asset/{{id}}/problem_5.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 6:
            <img src = '/asset/{{id}}/problem_6.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 7:
            <img src = '/asset/{{id}}/problem_7.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 8:
            <img src = '/asset/{{id}}/problem_8.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>


    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 9:
            <img src = '/asset/{{id}}/problem_9.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 10:
            <img src = '/asset/{{id}}/problem_10.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 11:
            <img src = '/asset/{{id}}/problem_11.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 12:
            <img src = '/asset/{{id}}/problem_12.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 13:
            <img src = '/asset/{{id}}/problem_13.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 14:
            <img src = '/asset/{{id}}/problem_14.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 15:
            <img src = '/asset/{{id}}/problem_15.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>

    <div class = 'row'>
        <div class = 'col-md-6'>
            Problem 16:
            <img src = '/asset/{{id}}/problem_16.png' height = '300px' width = 'auto'>
        </div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>
</div>



<div class = 'container'>
    <div class = 'row'>
        <div class = 'col-md-6' id = 'problem17Circuit'></div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12' id = 'problem18Graph'></div>
    </div>
    <div class = 'pageBreak'></div>
    <div class = 'row'>
        <div class = 'col-md-6' id = 'problem18Circuit'></div>
        <div class = 'col-md-6'>
            <p>
                Draw equivalent circuit here.
            </p>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-12' id = 'problem4Graph'></div>
    </div>
</div>

<!--<ul class = 'extraLinks'>-->
<!--    <li>-->
<!--        <a href = '/asset/{{id}}/analyze_circuits_3_extra_problems.pdf'>Extra Problems!</a>-->
<!--    </li>-->
<!--    <li>-->
<!--        <a href = '/asset/{{id}}/analyze_circuits_3_answers.pdf'>Answers!</a>-->
<!--    </li>-->
<!--</ul>-->

<script>
    // #################################################################
    // Problem 3

    let problem3Circuit = new CircuitDiagram();
    let RaLabel = {
        "V": undefined,
        "I": undefined,
        "R": 10
    };
    let RbLabel = {
        "V": undefined,
        "I": undefined,
        "R": 5
    };
    let RcLabel = {
        "V": undefined,
        "I": undefined,
        "R": 15
    };

    problem3Circuit.nameAllResistors();
    problem3Circuit.setFontSize(1);
    problem3Circuit.addCellSimple('up',3,40);
    problem3Circuit.addWire('up',7.5);
    problem3Circuit.addWire('right',10);
    problem3Circuit.addSeriesResistors('down',18,[RaLabel],3);
    problem3Circuit.translateCursor('up',18);
    problem3Circuit.addWire('right',10);
    problem3Circuit.addSeriesResistors('down',18,[RbLabel, RcLabel],3);
    problem3Circuit.addWire('left',20);
    problem3Circuit.addWire('up',7.5);
    $("#problem3Circuit").append(problem3Circuit.drawCanvas(500));
   // addSeriesResistors(directionInput, length, resistorArray, lockedResistorLength) {


    //
    // FOURTH ELEMENT WAS THE
    // // battery
    // problem1Circuit.addElementWithCursor('wire',0,12);
    // problem1Circuit.addElementWithCursor('battery',0,14,40);
    // problem1Circuit.addElementWithCursor('wire',0,18);
    //
    // // branch 1
    // problem1Circuit.addElementWithCursor('wire',8,18);
    // problem1Circuit.addElementWithCursor('wire',8,10);
    // problem1Circuit.addElementWithCursor('resistor',8,6,10,'A');
    // problem1Circuit.addElementWithCursor('wire',8,0);
    // problem1Circuit.addElementWithCursor('wire',0,0);
    //
    // // branch 2
    // problem1Circuit.translateCursor(8,18);
    // problem1Circuit.addElementWithCursor('wire',16,18);
    // problem1Circuit.addElementWithCursor('wire',16,14);
    // problem1Circuit.addElementWithCursor('resistor',16,11,5,'B');
    // problem1Circuit.addElementWithCursor('wire',16,8);
    // problem1Circuit.addElementWithCursor('resistor',16,5,15,'C');
    // problem1Circuit.addElementWithCursor('wire',16,0);
    // problem1Circuit.addElementWithCursor('wire',8,0);
    //
    // let problem1Graph = new QuantitativeGraph(0,20,0,40,2);
    // problem1Graph.addReferenceArray([],[10,20,30,40]);
    // problem1Graph.labelAxes('','Potential (V)');

    $("#problem3Circuit").append(problem3Circuit.drawCanvas(600,600));
   // $("#problem3Graph").append(problem3Graph.drawCanvas(800,800)); // i think what's going on is that the limits aren't y-muliplied???

    // #################################################################
    // Problem 4
    let problem4Circuit = new CircuitDiagram();

    // battery
    problem4Circuit.addElementWithCursor('wire',0,12);
    problem4Circuit.addElementWithCursor('battery',0,14,40);
    problem4Circuit.addElementWithCursor('wire',0,18);

    // branch 1
    problem4Circuit.addElementWithCursor('wire',8,18);
    problem4Circuit.addElementWithCursor('wire',8,10);
    problem4Circuit.addElementWithCursor('resistor',8,6,8,'A');
    problem4Circuit.addElementWithCursor('wire',8,0);
    problem4Circuit.addElementWithCursor('wire',0,0);

    // branch 2
    problem4Circuit.translateCursorRectangonal(8,18);
    problem4Circuit.addElementWithCursor('wire',16,18);
    problem4Circuit.addElementWithCursor('wire',16,14);
    problem4Circuit.addElementWithCursor('resistor',16,11,4,'B');
    problem4Circuit.addElementWithCursor('wire',16,8);
    problem4Circuit.addElementWithCursor('resistor',16,5,6,'C');
    problem4Circuit.addElementWithCursor('wire',16,0);
    problem4Circuit.addElementWithCursor('wire',8,0);

    let problem4Graph = new QuantitativeGraph(0,20,0,40,2);
    problem4Graph.addReferenceArray([],[8,16,24,32,40]);
    problem4Graph.labelAxes('','Potential (V)');

    $("#problem4Circuit").append(problem4Circuit.drawCanvas(600,600));
    $("#problem4Graph").append(problem4Graph.drawCanvas(800,800)); // i think what's going on is that the limits aren't y-muliplied???


    // #################################################################
    // Problem 17
    let problem17Circuit = new CircuitDiagram();
    problem17Circuit.addElementWithCursor('wire',0,3);
    problem17Circuit.addElementWithCursor('battery',0,6,21);
    problem17Circuit.addElementWithCursor('wire',0,10);
    problem17Circuit.addElementWithCursor('wire',6,10);
    problem17Circuit.addElementWithCursor('resistor',9,10,4,'A');
    problem17Circuit.addElementWithCursor('wire',13,10);
    problem17Circuit.addElementWithCursor('wire',13,8);

    // branch 1
    problem17Circuit.addElementWithCursor('wire',7,8);
    problem17Circuit.addElementWithCursor('wire',7,6);
    problem17Circuit.addElementWithCursor('resistor',7,3,9,'B');
    problem17Circuit.addElementWithCursor('wire',7,1);
    problem17Circuit.addElementWithCursor('wire',13,1);

    // branch 2
    problem17Circuit.moveCursor(13,8);
    problem17Circuit.addElementWithCursor('wire',20,8);
    problem17Circuit.addElementWithCursor('wire',20,6);
    problem17Circuit.addElementWithCursor('resistor',20,3,9,'D');
    problem17Circuit.addElementWithCursor('wire',20,1);
    problem17Circuit.addElementWithCursor('wire',13,1);

    // branch center
    problem17Circuit.moveCursor(13,8);
    problem17Circuit.addElementWithCursor('wire',13,6);
    problem17Circuit.addElementWithCursor('resistor',13,3,9,'C');
    problem17Circuit.addElementWithCursor('wire',13,1);

    problem17Circuit.addElementWithCursor('wire',13,-1);
    problem17Circuit.addElementWithCursor('wire',0,-1);
    problem17Circuit.addElementWithCursor('wire',0,0);

    let problem17Graph = new QuantitativeGraph(0,20,0,21,2);
    problem17Graph.labelAxes('','Electric Potential (V)');
    problem17Graph.addReferenceArray([],[7,14,21]);

    $("#problem17Circuit").append(problem17Circuit.drawCanvas(500,500));
    $("#problem17Graph").append(problem17Graph.drawCanvas(750,750)); // i think what's going on is that the limits aren't y-muliplied???

    // #################################################################
    // Problem 18
    let problem18Circuit = new CircuitDiagram();
    problem18Circuit.addElementWithCursor('wire',0,3);
    problem18Circuit.addElementWithCursor('battery',0,6,12);
    problem18Circuit.addElementWithCursor('wire',0,10);
    problem18Circuit.addElementWithCursor('wire',6,10);
    problem18Circuit.addElementWithCursor('resistor',9,10,4,'A');
    problem18Circuit.addElementWithCursor('wire',13,10);
    problem18Circuit.addElementWithCursor('wire',13,8);

    // branch 1
    problem18Circuit.addElementWithCursor('wire',10,8);
    problem18Circuit.addElementWithCursor('wire',10,6);
    problem18Circuit.addElementWithCursor('resistor',10,3,3,'B');
    problem18Circuit.addElementWithCursor('wire',10,1);
    problem18Circuit.addElementWithCursor('wire',13,1);

    // branch 2
    problem18Circuit.moveCursor(13,8);
    problem18Circuit.addElementWithCursor('wire',16,8);
    problem18Circuit.addElementWithCursor('wire',16,6);
    problem18Circuit.addElementWithCursor('resistor',16,3,6,'C');
    problem18Circuit.addElementWithCursor('wire',16,1);
    problem18Circuit.addElementWithCursor('wire',13,1);

    problem18Circuit.addElementWithCursor('wire',13,-1);
    problem18Circuit.addElementWithCursor('wire',0,-1);
    problem18Circuit.addElementWithCursor('wire',0,0);

    let problem18Graph = new QuantitativeGraph(0,20,0,12,2);
    problem18Graph.labelAxes('','Electric Potential (V)');
    problem18Graph.addReferenceArray([],[4,8,12]);

    $("#problem18Circuit").append(problem18Circuit.drawCanvas(600,600));
    $("#problem18Graph").append(problem18Graph.drawCanvas(800,800)); // i think what's going on is that the limits aren't y-muliplied???




</script>