


<ol class="questionList">
    <li class="question">
        <img src = '/asset/{{id}}/torque_1.png' height = '300px' width = 'auto' />
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = '\( 40 \; \text{N} \cdot \text{m} \; \odot \)'>
                Determine the magnitude and direction of torque caused by force A.
            </li>
            <li class="subQuestion" data-answer = "\( 35 \; \text{N} \cdot \text{m} \; \odot \)">
                Determine the magnitude and direction of torque caused by force B.
            </li>
            <li class="subQuestion" data-answer = "\( 75 \; \text{N} \cdot \text{m} \; \odot \)">
                Determine the magnitude and direction of the net torque on the rod.
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/asset/{{id}}/torque_2.png' height = '300px' width = 'auto' />
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = "\( 300 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of torque caused by force A.
            </li>
            <li class="subQuestion" data-answer = "\( 800 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of torque caused by force B.
            </li>
            <li class="subQuestion" data-answer = "\( 1100 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of the net torque on the rod.
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/asset/{{id}}/torque_3.png' height = '300px' width = 'auto' />
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = "\( 15 \; \text{N} \cdot \text{m} \; \odot \)">
                Determine the magnitude and direction of torque caused by force A.
            </li>
            <li class="subQuestion" data-answer = "\( 120 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of torque caused by force B.
            </li>
            <li class="subQuestion" data-answer = "\( 105 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of the net torque on the rod.
            </li>
        </ol>
    </li>
    <li class="question">
        <img src = '/asset/{{id}}/torque_4.png' height = '300px' width = 'auto' />
        <ol class="subQuestionList" type = 'a'>
            <li class="subQuestion" data-answer = "\( 5.6 \; \text{N} \cdot \text{m} \; \odot \)">
                Determine the magnitude and direction of torque caused by force A.
            </li>
            <li class="subQuestion" data-answer = "\( 81.6 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of torque caused by force B.
            </li>
            <li class="subQuestion" data-answer = "\( 76 \; \text{N} \cdot \text{m} \; \otimes \)">
                Determine the magnitude and direction of the net torque on the rod.
            </li>
        </ol>
    </li>
    <li class="question" data-answer = "\( 35 \; \text{N} \cdot \text{m} \; \otimes \)">
        <img src = '/asset/{{id}}/torque_5.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
    </li>
    <li class="question" data-answer = "\( 30 \; \text{N} \cdot \text{m} \; \odot \)">
        <img src = '/asset/{{id}}/torque_6.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
    </li>
    <li class="question" data-answer = "\( 26 \; \text{N} \cdot \text{m} \; \odot \)">
        <img src = '/asset/{{id}}/torque_7.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
    </li>
    <li class="question" data-answer = "\( 69 \; \text{N} \cdot \text{m} \; \odot \)">
        <img src = '/asset/{{id}}/torque_8.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
    </li>
</ol>

<h4>
    Forces Applied at Non-Right Angles
</h4>

<p>
    A <strong>Cross Product</strong> between two vectors is calculated by multiplying the magnitudes
    of each vector times the sine of the interior angle between them:
    $$
    \overrightarrow{A} \times \overrightarrow{B} = \lvert \overrightarrow{A} \rvert \cdot \lvert \overrightarrow{B} \rvert \cdot \sin \theta
    $$
</p>

<p>
    The <strong>torque</strong> applied by a single force is the cross product of the moment arm \( \overrightarrow{r} \) and the force \( \overrightarrow{F} \), and therefore follows the same formula
    as above:
    $$
    \tau = \overrightarrow{r} \times \overrightarrow{F} = \lvert \overrightarrow{r} \rvert \cdot \lvert \overrightarrow{F} \rvert \cdot \sin \theta
    $$
</p>

<p>
    Also, note that all forces parallel or anti-parallel to the moment arm provide \strong{zero} torque. In these cases,
    the angle \( \theta \) would be 0 degrees or 180 degrees and \( \sin \theta \) would be zero.
</p>


<ol class="questionList">
    <li class="question" data-answer = "\( 19.8 \; \text{N} \cdot \text{m} \; \odot \)">
        <img src = '/asset/{{id}}/torque_9.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
        (3 significant figures)
    </li>
    <li class="question" data-answer = "\( 41.0 \; \text{N} \cdot \text{m} \; \otimes \)">
        <img src = '/asset/{{id}}/torque_10.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
        (3 significant figures)
    </li>
    <li class="question" data-answer = "\( 10.3 \; \text{N} \cdot \text{m} \; \odot \)">
        <img src = '/asset/{{id}}/torque_11.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
        (3 significant figures)
    </li>
    <li class="question" data-answer = "\( 1.0 \; \text{N} \cdot \text{m} \; \otimes \)">
        <img src = '/asset/{{id}}/torque_12.png' height = '300px' width = 'auto' />
        <br>
        Determine the magnitude and direction of the net torque on the rod.
        (2 significant figures)
    </li>
</ol>

<ol class="answerList"></ol>

