
<h3>
    Part 1: The Wave
</h3>

<p class="definition" data-word = 'Traveling vs. Oscillating'>
    Linear motion is <emph>traveling</emph>: you go somewhere. We represent traveling motion with and arrow.
    <br>
    Harmonic motion is <emph>oscillating</emph>: you move and return to your original spot. We represent oscillating motion with a double-sided arrow.
</p>


<p class="definition" data-word = '"The Wave"'>
    A stadium cheer in which fans stand up with their arms raised as "The Wave" comes by.
    "The Wave" is a oscillation that moves, and represents well how a transverse, mechanical wave works,
    even if it is obviously not caused by the laws of physics alone.
</p>

<ol class="questionList">
    <li class="question">
        What do people do when the wave comes by?
    </li>
    <li class="question">
        When the wave moves through, do you <emph>travel</emph> with the wave?
    </li>
    <li class="question">
        What is a physics word for when someone stands up and sits back down int eh same spot?
    </li>
    <li class="question">
        If the wave is moving in the direction given by the arrow,
        use a <emph>double-sided arrow</emph> to draw what the guy in the circle is going to do when
        it reaches him:
        <br>
        <img src = '/asset/{{id}}/people_doing_wave.png'  width = '600px' height = 'auto'/>
    </li>
</ol>

<h3>
    Part 2: Particle Motion in Transverse and Longitudinal Waves
</h3>

<p class="definition" data-word = 'oscillate'>
    Harmonic Motion;
    When something oscillates, it moves then returns to its original spot.
    We represent oscillation with a double-headed arrow.
</p>

<p class="definition" data-word = 'Mechanical Wave'>
    A mechanical wave allows energy to move through a moving oscillation.
    When a mechanical wave passes through some particles,
    the oscillate, but they do not travel.
</p>

<p class="definition" data-word = 'Transverse Mechanical Wave'>
    When a transverse mechanical wave comes through,
    every particle oscillates in a direction <strong>perpendicular</strong> to the motion of the wave.
</p>


<p class="definition" data-wird = 'Longitudinal Mechanical Wave'>
    When a longitudinal wave comes through,
    every particle oscillates in a direction <strong>parallel</strong> to the motion of the wave.
</p>

<p>
    To diagram oscillation, we use a double-sided arrow,
    showing an object that moves in one direction, then back in the other direction:
</p>

<div class="border border-dark p-2">
    <p>
        The next two questions deal with the box of air particles drawn below. Assume all particles move within the same plane.
    </p>
    <br>
    <img src = '/asset/{{id}}/horizontal_box_of_dots.png' width = '400px' height = 'auto' />

    <ol class="questionList">
        <li class="question">
            If a <strong>transverse</strong> wave moves horizontally through the box,
            show how the particles will oscillate with a double-sided arrow:
        </li>
        <li class="question">
            If a <strong>longitudinal</strong> wave moves horizontally through the box,
            show how the particles will oscillate with a double-sided arrow:
        </li>
    </ol>
</div>

<div class="border border-dark p-2">
    <p>
    The next two questions deal with the box of air particles drawn below. Assume all particles move within the same plane.
</p>

<div class="container">
    <div class="row">
        <div class="col-6-md">
            <img src = '/asset/{{id}}/vertical_box_of_dots.png' height = '400px' width = 'auto' />
        </div>
        <div class="col-6-md">
            <ol class="questionList">
                <li class="question">
                    If a <strong>transverse</strong> wave moves vertically through the box,
                    show how the particles will oscillate with a double-sided arrow:
                </li>
                <li class="question">
                    If a <strong>longitudinal</strong> wave moves vertically through the box,
                    show how the particles will oscillate with a double-sided arrow:
                </li>
            </ol>
        </div>
    </div>
</div>
</div>


<p class="directions">
    In the next six questions, the circles represent a particle and the arrows represent the wave
    moving by it.
    In each case, draw a double-sided arrow showing how the particle will oscillate as the wave passes through.
</p>

<ol class="questionList">
    <div class="container">
        <div class="row">
            <div class="col-4-md border-border dark p-3">
                <li class="question">
                    Transverse Wave <br>
                    <img src ='/asset/{{id}}/problem_1.png' />
                </li>
            </div>
            <div class="col-4-md border-border dark p-3">
                <li class="question">
                    Longitudinal Wave <br>
                    <img src ='/asset/{{id}}/problem_2.png' />
                </li>
            </div>
            <div class="col-4-md border-border dark p-3">
                <li class="question">
                    Transverse Wave <br>
                    <img src ='/asset/{{id}}/problem_3.png' />
                </li>
            </div>
        </div>
        <div class="row">
            <div class="col-4-md border-border dark p-3">
                <li class="question">
                    Transverse Wave <br>
                    <img src ='/asset/{{id}}/problem_4.png' />
                </li>
            </div>
            <div class="col-4-md border-border dark p-3">
                <li class="question">
                    Longitudinal Wave <br>
                    <img src ='/asset/{{id}}/problem_5.png' />
                </li>
            </div>
            <div class="col-4-md border-border dark p-3">
                <li class="question">
                    A Sound Wave <br>
                    <img src ='/asset/{{id}}/problem_6.png' />
                </li>
            </div>
        </div>
    </div>
</ol>


<ol class="questionList">
    <li class="question">
        Sometimes, when you play speakers very loudly, the move a little bit back and forth.
        <ol class="subQuestionList" type = 'A'>
            <li class="subQuestion">
                Are sound waves transverse or longitudinal?
            </li>
            <li class="subQuestion">
                Which direction do the speakers move? Why?
            </li>
        </ol>
    </li>
    <li class="question">
        You are attempting to charge into the castle of a terrible warlock,
        when the warlock blocks you with a series of extremely high amplitude sound waves.
        <ol class="subQuestionList" type = 'A'>
            <li class="subQuestion">
                Are the sound waves transverse or longitudinal?
            </li>
            <li class="subQuestion">
                In addition to the pain to your ears, the sound waves are powerful enough to make your body move.
                Which direction do you move?
            </li>
        </ol>
    </li>
</ol>


<ol class="answerList"></ol>